In [1]:
import pandas as pd

In [2]:
output = pd.read_csv("comparison.csv")

In [3]:
output

,model,latency_sec,input_tokens,output_tokens,total_tokens,input_cost_usd,output_cost_usd,total_cost_usd,semantic_accuracy,response
0,Gemma-2-2B,3.226,11,551,562,0.000001,0.000110,0.000111,0.617,Here's a breakdown of what should be included ...
1,Mistral-7B,11.349,11,281,292,0.000002,0.000169,0.000171,0.526,"For Milestone 1 of the project report, the fo..."
2,LLaMA-3.1-8B,6.439,11,463,474,0.000003,0.000370,0.000374,0.634,"Based on the provided context, the following s..."